# LDSA CAPSTONE PROJECT | EXPLORATORY DATA ANALYSIS

## 1. IMPORT MODULES

In [1]:
import os
import pandas as pd
import numpy as np

## 2. Load Data

In [2]:
def load_data(file):
    df = pd.read_csv(os.path.join("data", file))
    return df
data = load_data("two-years-recid.csv")
data.head()

,id,name,sex,dob,age,race,c_jail_in,c_jail_out,c_case_number,c_offense_date,...,r_case_number,r_offense_date,r_charge_degree,r_charge_desc,is_violent_recid,vr_case_number,vr_offense_date,vr_charge_degree,vr_charge_desc,two_year_recid
0,1,steven lux,Male,1953-06-15,62,Caucasian,2013-01-05 04:35:31,2013-01-07 03:18:03,13000208CF10A,2013-01-05,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1,2,andre small,Male,1987-10-01,28,African-American,2013-04-02 12:18:46,2013-04-04 07:54:22,13006354MM10A,2013-04-02,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
2,3,willie gray,Male,1959-01-12,57,African-American,2014-10-31 12:02:01,2014-10-31 01:47:05,14040148MU10A,2014-10-30,...,15043364TC20A,2015-07-23,(M2),Driving License Suspended,0,NaN,NaN,NaN,NaN,1
3,4,nickson marcellus,Male,1996-07-11,19,African-American,2014-01-23 03:19:30,2014-01-23 01:04:34,13017969CF10A,NaN,...,16000241MM20A,2016-01-04,(M1),Possess Cannabis/20 Grams Or Less,0,NaN,NaN,NaN,NaN,1
4,5,patria barnes,Female,1978-06-06,37,Other,2013-12-08 01:55:28,2013-12-09 02:00:59,13022717MM10A,2013-12-07,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

## 3. EDA | Exploratory Data Analysis

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6114 non-null   int64
 1   name                   6114 non-null   object
 2   sex                    6114 non-null   object
 3   dob                    6114 non-null   object
 4   age                    6114 non-null   int64
 5   race                   6114 non-null   object
 6   c_jail_in              5854 non-null   object
 7   c_jail_out             5854 non-null   object
 8   c_case_number          6096 non-null   object
 9   c_offense_date         5155 non-null   object
 10  c_arrest_date          941 non-null    object
 11  c_charge_degree        6114 non-null   object
 12  c_charge_desc          6090 non-null   object
 13  juv_fel_count          6114 non-null   int64
 14  juv_misd_count         6114 non-null   int64
 15  juv_other_count        6114 non-null   int64
 16  priors_count           6114 non-null   int64
 17  compas_screening_date  6114 non-null   object
 18  type_of_assessment     6114 non-null   object
 19  decile_score           6114 non-null   int64
 20  score_text             6114 non-null   object
 21  v_type_of_assessment   6114 non-null   object
 22  v_decile_score         6114 non-null   int64
 23  v_score_text           6114 non-null   object
 24  is_recid               6114 non-null   int64
 25  r_case_number          2931 non-null   object
 26  r_offense_date         2931 non-null   object
 27  r_charge_degree        2931 non-null   object
 28  r_charge_desc          2882 non-null   object
 29  is_violent_recid       6114 non-null   int64
 30  vr_case_number         694 non-null    object
 31  vr_offense_date        694 non-null    object
 32  vr_charge_degree       694 non-null    object
 33  vr_charge_desc         694 non-null    object
 34  two_year_recid         6114 non-null   int64
dtypes: int64(11), object(24)
memory usage: 1.6+ MB

In [4]:
data.describe()

,id,age,juv_fel_count,juv_misd_count,juv_other_count,priors_count,decile_score,v_decile_score,is_recid,is_violent_recid,two_year_recid
count,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000,6114.000000
mean,3057.500000,34.757442,0.062643,0.090939,0.104351,3.438502,4.488878,3.688584,0.479392,0.113510,0.450114
std,1765.104105,11.802448,0.396906,0.486264,0.448095,4.858464,2.849050,2.503754,0.499616,0.317241,0.497546
min,1.000000,18.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1529.250000,25.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,3057.500000,31.000000,0.000000,0.000000,0.000000,2.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,4585.750000,42.000000,0.000000,0.000000,0.000000,5.000000,7.000000,5.000000,1.000000,0.000000,1.000000
max,6114.000000,96.000000,10.000000,13.000000,9.000000,38.000000,10.000000,10.000000,1.000000,1.000000,1.000000

### 3.1 Feature Analysis

In [5]:
def analyze_dataset(df, target_columns):
    """
    Analyzes the dataset for key characteristics, including feature type, missing values, and target identification.

    Parameters:
    - df (pd.DataFrame): The dataset to analyze.
    - target_columns (list): A list of columns that represent targets.

    Returns:
    - pd.DataFrame: A DataFrame summarizing the analysis of each feature.
    """
    # Initialize the feature analysis dictionary
    feature_analysis = {
        'Feature': [],
        'Type': [],
        'Total Values': [],
        'Missing Values': [],
        'Unique Values (Categorical)': [],
        'Is Target': []
    }

    # Analyze each column
    for col in df.columns:
        feature_analysis['Feature'].append(col)
        feature_analysis['Total Values'].append(len(df[col]))
        feature_analysis['Missing Values'].append(df[col].isnull().sum())

        # Determine the variable type
        if pd.api.types.is_numeric_dtype(df[col]):
            feature_analysis['Type'].append('Numerical')
            feature_analysis['Unique Values (Categorical)'].append(None)
        else:
            feature_analysis['Type'].append('Categorical')
            feature_analysis['Unique Values (Categorical)'].append(df[col].unique().tolist())

        # Identify if the column is a feature or a target
        if col in target_columns:
            feature_analysis['Is Target'].append(True)
        else:
            feature_analysis['Is Target'].append(False)

    # Create a DataFrame from the analysis dictionary
    feature_analysis_df = pd.DataFrame(feature_analysis)

    return feature_analysis_df

In [8]:
# Define your target columns
target_columns = ['two_year_recid']

# Call the function
analysis_results = analyze_dataset(data, target_columns)
analysis_results

,Feature,Type,Total Values,Missing Values,Unique Values (Categorical),Is Target
0,id,Numerical,6114,0,None,False
1,name,Categorical,6114,0,"[steven lux, andre small, willie gray, nickson...",False
2,sex,Categorical,6114,0,"[Male, Female]",False
3,dob,Categorical,6114,0,"[1953-06-15, 1987-10-01, 1959-01-12, 1996-07-1...",False
4,age,Numerical,6114,0,None,False
5,race,Categorical,6114,0,"[Caucasian, African-American, Other, Hispanic,...",False
6,c_jail_in,Categorical,6114,260,"[2013-01-05 04:35:31, 2013-04-02 12:18:46, 201...",False
7,c_jail_out,Categorical,6114,260,"[2013-01-07 03:18:03, 2013-04-04 07:54:22, 201...",False
8,c_case_number,Categorical,6114,18,"[13000208CF10A, 13006354MM10A, 14040148MU10A, ...",False
9,c_offense_date,Categorical,6114,959,"[2013-01-05, 2013-04-02, 2014-10-30, nan, 2013...",False
10,c_arrest_date,Categorical,6114,5173,"[nan, 2014-01-23, 2013-10-10, 2013-04-04, 2013...",False
11,c_charge_degree,Categorical,6114,0,"[F, M]",False
12,c_charge_desc,Categorical,6114,24,"[False Imprisonment, Battery, DUI Level 0.15 O...",False
13,juv_fel_count,Numerical,6114,0,None,False
14,juv_misd_count,Numerical,6114,0,None,False
15,juv_other_count,Numerical,6114,0,None,False
16,priors_count,Numerical,6114,0,None,False
17,compas_screening_date,Categorical,6114,0,"[2013-01-05, 2013-04-03, 2014-10-31, 2014-01-2...",False
18,type_of_assessment,Categorical,6114,0,[Risk of Recidivism],False
19,decile_score,Numerical,6114,0,None,False
20,score_text,Categorical,6114,0,"[Low, High, Medium]",False
21,v_type_of_assessment,Categorical,6114,0,[Risk of Violence],False
22,v_decile_score,Numerical,6114,0,None,False
23,v_score_text,Categorical,6114,0,"[Low, High, Medium]",False
24,is_recid,Numerical,6114,0,None,False
25,r_case_number,Categorical,6114,3183,"[nan, 15043364TC20A, 16000241MM20A, 14001047CF...",False
26,r_offense_date,Categorical,6114,3183,"[nan, 2015-07-23, 2016-01-04, 2014-01-24, 2015...",False
27,r_charge_degree,Categorical,6114,3183,"[nan, (M2), (M1), (F2), (F1), (F3), (MO3), (F6...",False
28,r_charge_desc,Categorical,6114,3232,"[nan, Driving License Suspended, Possess Canna...",False
29,is_violent_recid,Numerical,6114,0,None,False
30,vr_case_number,Categorical,6114,5420,"[nan, 15010553CF10A, 15009628CF10A, 14009181MM...",False
31,vr_offense_date,Categorical,6114,5420,"[nan, 2015-08-15, 2015-03-16, 2014-06-10, 2014...",False
32,vr_charge_degree,Categorical,6114,5420,"[nan, (F3), (M1), (F2), (MO3), (M2), (F6), (F1...",False
33,vr_charge_desc,Categorical,6114,5420,"[nan, Aggravated Assault W/Dead Weap, Felony B...",False
34,two_year_recid,Numerical,6114,0,None,True